header {
    background-color: pink;
    padding: 35px;
    color: blue;
    text-align: center;
    
}

header .title {
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

.logout {
    cursor: pointer;
    background-color: #dcc333;
    padding: 2px 5px;
    border: thin #eee solid;
    margin-left: 10px;
}
.logout:hover {
    background-color: #9aaf23;
}