footer {
    text-align: center;
    background: pink;
    color: blue;
    border-top: thin dotted pink;
    margin-top: 100px;
    display: flex;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 35px;
}

footer .projectName {
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}