* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0
}

body {
    display: flex;
    flex-direction: column;
}

section {
    margin: auto 35px;
}


main {
    min-height: 60%;
    max-height: 100%;
}

.colorgray {
    color: #ccc
}

.boxConfirmation {
    display: flex;
    justify-content: center
}

.confirmation {
    padding: 20px 35px;
    width: 50%;
}

.confirmation .message {
    padding: 35px;
    margin: 20px 0;
    border-radius: 5px;
    border: thin solid #ddd;
}

.confirmation .actions {
    display: flex;
    justify-content: flex-end;
}

.confirmation .actions button {
    margin: 5px;
    color: #666;
}

.confirmation .actions button.cancel {
    background-color: #F8D7DA
}

.confirmation .actions button.success {
    background-color: #D4EDDA
}